.directors-wrapper{
    padding: 200px 0 0;
    h2{
        padding-bottom: 76px;
        text-align: center;
        @include font(title-color, 40px, 54px, semi-bold);
    }
}
.directors{
    padding: 0;
    margin: 0 0 60px;
    overflow: hidden;
    background-color: #fff9f9;
    @include border-radius(4px);
    border: 1px solid #fff9f9;

    &:hover{
        background-color: #fbfdfb;
        border-color: #f1aa24;
    }
}
.directors-image{
    width: 315px;
    img{
        max-width: 100%;
    }
}

.directors-desc{
    width: calc(100% - 315px);
    padding: 0 30px;
    box-sizing: border-box;

    h3{
        @include font(title-color, 32px, 40px, bold);
    }
    h4{
        padding-bottom: 16px;
        @include font(title-color, 25px, 40px, false);
    }
    p{
        @include font(text-color, 16px, 26px, false);
    }
}

.directors-in{
    padding: 0;
    margin: 0;

    .directors:nth-child(2n) .directors-image{
        order: 2;
    }
    .directors:nth-child(2n) .directors-desc{
        order: 1;
        text-align: right;
    }
    
}