.career-details{
	padding: 0 0 82px;

	.site-shadow{
		padding-bottom: 93px;
		border-radius: 18px;

		.career-details-box{
			padding: 87px 89px 0 140px;

			h2{
				padding: 0 0 29px;
				@include font(title-color,40px,50px, bold);
				position: relative;
				i{
					position: absolute;
					left: -55px;
					top: 5px;
				}
			}
			h3{
				padding: 0 0 18px;
				@include font(title-color, 21px, 28px, bold);
			}
			h4{
				padding: 0 0 19px;
				@include font(brand, 21px, 26px, bold);
			}
			.career-details-in{
				padding-bottom: 40px;
				p{
					@include font(false, 17px, 28px, false);
				}
				li{
					padding-left: 36px;
					@include font(false, 17px, 24px, false);
					position: relative;
					&:not(:last-child){
						padding-bottom: 19px;
					}
					&:after{
						content: "";
						width: 17px;
						height: 16px;
						position: absolute;
						left: 0;
						top: 5px;
						background: url('../images/cursor.png') no-repeat;
					}
				}
			}
		}
	}
}

.career-details-apply{
	padding-top: 40px;
	span{
		padding: 0 0 23px;
		@include font(false, 21px, 28px, false);
	}
	.career-details-btn{
		padding: 0 0 90px;

		.site-btn{
			width: 236px;
			padding-left: 0;
			padding-right: 0;
			margin: 0 12px;
		}
	}
	
}
.career-details-btm{
	padding: 11px 89px 11px 140px;
	border-top:1px solid lighten(map-get($colors, text-color), 30);
	border-bottom:1px solid lighten(map-get($colors, text-color), 30);

	span{
		@include font(false, 17px, 28px, semi-bold);
	}
}

.modal-form-wrap{
	padding: 80px 130px 140px;
	background: url(../images/form-bg.png) no-repeat right top;
}
.apply-form-top{
	padding-bottom: 50px;
	h4{
		padding: 73px 0 0;
		@include font(text-color, 35px, 50px, bold);
	}
	h2{
		padding:0;
		@include font(title-color, 65px, 96px, bold);
	}
}
.form-bottom{
	padding: 0;
	.form-group{
		margin-bottom: 45px;
		em{
			width:0;
			@include absolute(false, 2px, left,15, bottom,0);
			background-color:map-get($colors, brand);
			@include transition(all, 300ms);
		}
	}
	.form-control {
		width: 100%;
		height: auto;
		padding:0;
		@include font(text-color, 17px, 34px, false);
		background-color: #fff;
		background-clip: padding-box;
		border: 0;
		border-bottom:1px solid lighten(map-get($colors, text-color), 30);
		border-radius:0;
		
		&:focus{
			box-shadow: none;
		}
		&:focus + em{
			width:calc(100% - 30px);
		}
	}
	textarea.form-control {
		height: 110px;
	}
}

.file{
	@include file();
}

.modal-bottom{
	.submit{
		@include button-base(17px 60px);
	}
	a{
		position: relative;
		text-decoration: underline;
		color: darken(map-get($colors, title-color), 10);
		@include font(false, 16px, 40px, bold);
		i{
			font-size: 26px;
			@include absolute(false,false,left,-30px,top,9px);
		}
		&:hover{
			text-decoration: none;
			color: map-get($colors, brand)
		}
	}
}
