.home{
	background-color: #ebecf0;
}
.home-block{
	max-width: 1512px;
	padding: 0;
	margin: 0 auto;
}
.chart{
	width: 712px;
	height: 712px;
	padding: 0;
	margin: 0 0 80px;
	overflow: hidden;
	position: relative;
}
.chart-bg{
	@include chart-circle(96%, 96%);
	background-color: #f8f8f8;
	box-shadow: 0px 0 18px -6px #0000003b;
}
.chart-first-line{
	@include chart-circle(88%, 88%);
	border: 1px dashed #002e5b;
	-webkit-animation: spin-line 300s linear infinite;
	animation: spin-line 300s linear infinite;
}
@-webkit-keyframes spin-line {
	0% { transform:translate(-50%, -50%) rotate(0deg); }
	100% { transform:translate(-50%, -50%) rotate(-360deg); }
}

@keyframes spin-line {
  0% { transform:translate(-50%, -50%) rotate(0deg); }
  100% { transform:translate(-50%, -50%) rotate(-360deg); }
}
.chart-second-line{
	@include chart-circle(33%, 33%);
	border: 1px dashed map-get($colors, brand);
	-webkit-animation: spin-line-2 20s linear infinite;
	animation: spin-line-2 20s linear infinite;
}
@-webkit-keyframes spin-line-2 {
	0% { transform:translate(-50%, -50%) rotate(0deg); }
	100% { transform:translate(-50%, -50%) rotate(360deg); }
}

@keyframes spin-line-2 {
  0% { transform:translate(-50%, -50%) rotate(0deg); }
  100% { transform:translate(-50%, -50%) rotate(360deg); }
}
.chartIn{
	width: 100%;
	height: 100%;
	transform: scale(1.25);
	-moz-transform: scale(1.25);
} 
.chart svg{
	width: 100%;
	height: 100%;
	-webkit-animation: spin 60s linear infinite;
	animation: spin 60s linear infinite;
	transform:rotate(0deg) scale(1.25);
}
@-webkit-keyframes spin {
	0% { transform: rotate(0deg) scale(1.25); }
	100% { transform: rotate(360deg) scale(1.25); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.chartIn svg:hover{
	animation-play-state: paused;
}
.circle-shadow{
	@include chart-circle(30%, 30%);
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
	animation: shadow-pulse 2s infinite;
	box-shadow: 0 0 0 0px rgba(236, 166, 51, 0.5);
}
@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(236, 166, 51, 0.5);
  }
  100% {
    box-shadow: 0 0 0 200px rgba(236, 166, 51, 0);
  }
}
.established{
	padding: 0;
	margin: auto;
	text-align: center;

	small{
		display: block;
		@include font(false, 22px, 28px, medium);
	}
	strong{
		@include font(false, 50px, 50px, bold);
	}
}

.home-left{
	width: 40%;
	h2{
		padding: 0 0 13px;
		@include font(title-color, 100px, 110px, extra-bold);
	}
	p{
		@include font(false, 20px, 32px, false);
	}
}
.home-btn{
	padding-top: 80px;
}
.home-btn .site-btn{
	@include button-base(16px 88px 12px 48px);
	i{
		width: 29px;
		height: 19px;
		padding: 0;
		margin: 0;
		position: absolute;
		right: 48px;
		top: 22px;
		background: url('../images/long-right-arrow.png') no-repeat;
		
	}
}
.index-right{
	height: 100%;
	position: absolute;
	right: 48px;
	top: 0;
	display: flex;
	div{
		margin: auto;
		a{
			margin: 6px 0;
			display: block;
			@include font(text-color, 22px, 30px, false);
			@include transition(all, 400ms);

			&:hover{
				color: map-get($colors, brand) ;
			}
		}
	}
}
.scroll-down {
	width: 116px;
	color: #717171;
	position: absolute;
	left: -46px;
	bottom: 220px;
	@include transition(all, 400ms);
	transform: rotate(90deg);
	i {
		width: 37px;
		height: 11px;
		position: absolute;
		left: 83px;
		top: 5px;
		transition: $transition;
		background: url('../images/long-down-arrow.png')no-repeat;
	}
	&:hover{
		color: map-get($colors, brand);
	}
	&:hover i{
		left: 90px;
	}
}


/*-----------------------------*/
/*----------- Footer ----------*/
/*-----------------------------*/
.home-footer{
	width: 100%;
	padding: 50px 0;
	position: absolute;
	left: 0;
	bottom: 0;
	border-top: 1px solid #dedede;
	.bullet{
		a{
			width: 17px;
			height: 17px;
			display: inline-block;
			border: 5px solid #fff;
			border-radius: 50%;
			background-color: #b8b8b8;
			position: relative;
		}
		i{
			width: 20px;
			height: 1px;
			margin: 0 2px;
			display: inline-block;
			background-color: #b8b8b8;
		}
	}
	.home-ftr-right{ 
		span{
			@include font(title-color, 20px, 26px, false);
		}
	}
}