
@include media(other){
    .container {
        max-width: 1280px;
      }
      .companies-modal{
          max-width: 88vw;
      }
      .form-modal{
          max-width: 65vw;
      }
      .publication-container{
        max-width: 1392px; 
    }
}
