.publication-left{
    width: calc(100% - 412px);
}
.publication-right{
    width: 350px;
}
.site-shadow{
    margin-bottom: 62px;
    @include border-radius(15px);
    
}
.publication-img{
    @include border-radius(15px);
    @include box-shadow(0, 4px, 9px, 1px, map-get($colors, shadow-color));
    img{
        width: 100%;
        @include border-radius(15px);
    }
}
.publication-date{
    background-color: map-get($colors, brand);
    @include absolute(125px, 112px, right, 133px, top,0);
    span{
        text-align: center;
        display: block;
        @include font(white-color, 30px, 36px, bold);
    }
}
.publication-content{
    padding: 56px 60px 48px;
    span{
        @include font(false, 15px, 22px, false);
    }
    small{
        font-weight: 300;
    }
    b{
        font-weight: 700;
    }
    h3{
        padding: 0 0 12px;
        @include font(title-color, 30px, 50px, bold);
    }
    p{
        padding-bottom: 27px;
        @include font(false, 17px, 28px, false);
    }
}
.publication-btn{
    padding:10px 0 0;
}
.Pagination-wrapper{
    padding: 20px 0 80px;
}
.paginationIn{
    padding-right: 140px;
    a{
        width: 36px;
        height: 36px;
        margin: 0 6px;
        display: flex;
        @include border-radius(50%);
        @include transition(all, 400ms);
        @include font(text-color, 17px, 17px, false);
        border: 1px solid lighten(map-get($colors, text-color), 40);

        &.active,
        &:hover{
            font-weight: 700;
            color: map-get($colors, white-color);
            background-color: map-get($colors, brand);
            border: 1px solid map-get($colors, brand);
        }
    }
    span{margin: auto;}
    i{margin: auto; font-size: 22px;}
}


.publication-widget{
    
    padding: 15px 30px;
    margin-bottom: 35px;
    @include site-shadow();

    h2{
        position: relative;
        @include font(title-color, 28px, 50px, bold);
        &:before{
            @include sudo(60px,3px, left,0, bottom,0, false);
            background-color: lighten(map-get($colors, text-color), 33);
        }
    }

    ul{
        padding-top: 22px;
        li{
            padding: 9px 0 9px 22px;
            position: relative;
            border-bottom: 1px solid #ececec;
            a{
                display: block;
                @include font(text-color, 20px, 28px, false);
                i{
                    @include absolute(false, false, left,0, top,11px)
                }
                &:hover{
                    color: map-get($colors, brand);
                }
            }
            span{
                padding-top: 3px;
                display: block;

                @include font(false, 14px, 28px, medium);
                color: lighten(map-get($colors, text-color), 33);
            }
            &:last-child{ border: 0;}
        }
    }
    &.archive ul li a{
         @include font(false, 17px, 28px, medium);
    }
}

.publication-btm{
    padding: 13px 0;
    border-top: 1px solid lighten(map-get($colors, text-color), 44);
    border-bottom: 1px solid lighten(map-get($colors, text-color), 44);
    h5{
        font-size: 17px;
        line-height: 22px;
    }
}
.comments{
    padding: 45px 0 0;
    h3{
        padding: 0;
        @include font(title-color, 30px, 45px, bold);
    }
    ul{
        
        li{
           padding: 45px 0; 
            border-bottom: 1px solid lighten(map-get($colors, text-color), 44);
        }
    }
    .replay-wrap{
        padding-top: 44px;
        padding-left:54px;
    }
    .comments-img{
        width: 122px;
        height: 122px;
        overflow: hidden;
        @include border-radius(50%);
        img{
            width: 100%;
            height: 100%;
        }
    }
    .comments-content{
        width: calc(100% - 122px);
        padding-left:44px;
        p{
            padding: 0;
            @include font(text-color, 17px, 28px, false);

        }
        .replay-btn{
            margin-top: 15px;
            display: inline-block;
            @include font(text-color, 17px, 22px, semi-bold);

            &:hover{
                text-decoration: underline;
                color: map-get($colors, brand);
            }
        }
    }
}
.icons{
    padding-top: 15px;
    a{
        padding: 0 14px;
        font-size: 20px;
        color: lighten(map-get($colors, text-color), 30);
        border-left:1px solid lighten(map-get($colors, text-color), 30);
        &:first-child{
            padding-left: 0;
            border: 0;
        }
    }
    
}

.comments-btn{
    padding-top: 50px;
}
textarea.comment-filed{
    height: 150px;
}
.post-pagination{
    padding: 28px 0;
    margin-top: 80px;
    border-top:1px solid lighten(map-get($colors, text-color), 30);
    border-bottom:1px solid lighten(map-get($colors, text-color), 30);

    .post-pagination-box{
        padding: 0 60px;
        width: 50%;
        span{
            padding-bottom: 12px;
            display: block;
            @include font(title-color, 17px, 20px, bold);
        }
        p{
            padding: 0;
            width: 100%; overflow: hidden; white-space: nowrap;
            text-overflow: ellipsis;
            @include font(text-color, 25px, 34px, false);
        }
        i{
            @include absolute(false, false, left,0, top,20px); 
            @include font(text-color, 18px, 18px, false);
        }
        &:last-child{
            span{
                text-align: right;
            }
            i{
                left: auto;
                right: 0;
            }
            &::before{
                @include sudo(3px, 26px,left,-1px,bottom,3px,text-color);
                background-color: #bbbaba;
            }
        }
        a{display: block;
            &:hover p{
                color: map-get($colors, brand);
            }
        }
    }
}
