$colors: (
    brand       : #eca633,
    white-color : #fff,
    title-color : #3f3f3f,
    text-color  :#717171,
    input-color :#949494,
    shadow-color :#e0dede,
);

$font-weight: (
    light      : 300,
    regular    : 400,
    medium     : 500,
    semi-bold  : 600,
    bold       : 700,
    extra-bold : 800,
);

$url: './images';



$transition: all 400ms;