/*===============================*/
/*====== DATE:2020-june-08 ======*/
/*===============================*/
body {
  color: #717171;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Muli", sans-serif;
}

/*==============================*/
/*=====   Common styles   ======*/
/*==============================*/
a {
  color: #717171;
}

a:hover {
  text-decoration: none;
  color: #717171;
}

h1, h2, h3, h4, h5, h6, p, div, ul, address {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*-----------------------------*/
/*-------- common wedget ------*/
/*-----------------------------*/
.site-btn {
  height: 60px;
  padding: 16px 30px 12px;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  display: inline-block;
  position: relative;
  background-color: #eca633;
  border-radius: 30px;
  transition: all 400ms;
}
.site-btn.with-arrow {
  padding: 16px 76px 12px 30px;
}
.site-btn.with-arrow:after {
  content: "";
  width: 29px;
  height: 19px;
  position: absolute;
  right: 30px;
  top: 22px;
  background: url(../images/long-right-arrow.png) no-repeat;
}
.site-btn:hover {
  color: #fff;
  background-color: #d6961d;
}

.site-shadow {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 1px 6px 1px #e0dede;
  -webkit-box-shadow: 0 1px 6px 1px #e0dede;
  -moz-box-shadow: 0 1px 6px 1px #e0dede;
}

.site-social a {
  margin: 0 5px;
  color: #d7d7d7;
  font-size: 25px;
  line-height: 25px;
}
.site-social a:hover {
  color: #eca633;
}

/*-----------------------------*/
/*--------Inner Banner---------*/
/*-----------------------------*/
.inner-banner {
  padding: 0 0 82px;
  margin: 0;
  position: relative;
}

.inner-banner img {
  width: 100%;
}

.banner-container {
  position: absolute;
  left: 0;
  top: 0;
}

.banner-title {
  padding: 180px 0 0;
  color: #3f3f3f;
  font-size: 65px;
  line-height: 70px;
  font-weight: 700;
}

/*-----------------------------*/
/*----------- Footer ----------*/
/*-----------------------------*/
.footer {
  padding: 54px 0;
  margin: 0;
  border-top: 1px solid #dedede;
  background-color: #ebecf0;
}

.footer p {
  margin: 0;
  color: #3f3f3f;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.header {
  width: 100%;
  padding: 40px 48px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}

.menu-open {
  width: 43px;
  text-align: right;
  cursor: pointer;
}
.menu-open span {
  display: block;
  padding-bottom: 5px;
  position: relative;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  transition-delay: 0.2s;
  font-size: 17px;
  line-height: 17px;
}
.menu-open i {
  height: 1px;
  display: block;
  position: relative;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  transition-delay: 0.3s;
  border-bottom: 2px solid #717171;
}
.menu-open i:after {
  content: "";
  width: 28px;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: -10px;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  background-color: #717171;
  transition-delay: 0.3s;
}

.menu-handel-out .menu-open i,
.menu-handel-out .menu-open span {
  transform: scale(0);
}

.site-menu {
  min-height: 100%;
  padding-bottom: 282px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
}

.active-menu {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.menu-top {
  padding: 36px 42px 98px 58px;
}

.menu-close {
  width: 60px;
  height: 50px;
  cursor: pointer;
}
.menu-close a {
  padding: 2px 0;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  font-size: 18px;
  line-height: 18px;
  background-color: #fff;
}
.menu-close .line-1, .menu-close .line-2 {
  width: 72px;
  height: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  background-color: #717171;
}
.menu-close .line-2 {
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
}
.menu-close:hover a {
  color: #eca633;
}
.menu-close:hover .line-1, .menu-close:hover .line-2 {
  transform: translate(-50%, -50%) rotate(-45deg) scale(0);
}
.menu-close:hover .line-2 {
  background-color: #eca633;
  transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
}

.menu-mid {
  padding: 36px 0 20px 58px;
}

.menu-links {
  width: 522px;
  padding: 0;
}
.menu-links ul {
  padding: 0;
}
.menu-links ul li {
  padding: 0;
  color: #717171;
  font-size: 20px;
  line-height: 30px;
}
.menu-links ul li a {
  padding: 12px 0 16px;
  display: block;
  position: relative;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  border-bottom: 1px solid #bebebe;
}
.menu-links ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  background-color: #eca633;
}
.menu-links ul li a:hover {
  color: #eca633;
  padding-left: 5px;
  border-color: #fff;
}
.menu-links ul li a:hover::after {
  width: 100%;
}
.menu-links ul li.active > a,
.menu-links ul li.active > a::after {
  width: 100%;
  color: #eca633;
}
.menu-links ul li.has-child {
  padding: 0;
  position: relative;
}
.menu-links ul li.has-child ul {
  padding: 0 20px;
  width: 100%;
  display: none;
}
.menu-links ul li.has-child ul li {
  padding: 0;
  color: #717171;
  font-size: 18px;
  line-height: 26px;
}
.menu-links ul li.has-child ul li a {
  padding: 5px 0 9px;
}
.menu-links ul li.has-child i {
  position: absolute;
  right: 43px;
  top: 16px;
  color: #eca633;
}

.menu-contact {
  padding: 0;
}
.menu-contact h3 {
  padding: 0 0 18px 15px;
  color: #3f3f3f;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.menu-contact-box {
  padding: 0 0 24px 45px;
  position: relative;
}
.menu-contact-box h4 {
  color: #a4a4a4;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
.menu-contact-box address {
  text-transform: uppercase;
  color: #717171;
  font-size: 18px;
  line-height: 24px;
}
.menu-contact-box a {
  color: #717171;
  font-size: 18px;
  line-height: 24px;
}
.menu-contact-box i {
  position: absolute;
  left: 0;
  top: 29px;
  color: #eca633;
  font-size: 25px;
  line-height: 25px;
}

.send-query {
  padding: 17px 0 0;
}
.send-query .site-btn {
  padding: 0 42px 0 0;
  height: auto;
  position: relative;
  color: #eca633;
  background-color: #fff;
}
.send-query .site-btn i {
  width: 30px;
  height: 13px;
  position: absolute;
  right: 0;
  top: 9px;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  background: url(../images/long-down-arrow.png) right center;
}
.send-query .site-btn:hover i {
  right: -7px;
}

.menu-btm {
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu-btm-top {
  padding: 0 0 18px;
}
.menu-btm-top span {
  color: #eca633;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  position: relative;
}
.menu-btm-top span i {
  display: block;
}

.menu-slider {
  margin: 0 -5px;
}

.menu-slider-box {
  padding: 0 5px;
}
.menu-slider-box:focus {
  outline: none;
}

.slideIn {
  cursor: pointer;
  position: relative;
}
.slideIn img {
  width: 100%;
}
.slideIn img:focus {
  outline: 0;
}
.slideIn .cover {
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  transform: scale(0);
  background-color: rgba(236, 166, 51, 0.7);
}
.slideIn .cover h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 70%;
  opacity: 0;
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  transition-delay: 100ms;
}
.slideIn .cover h3::after {
  transition: all 5s linear;
  -webkit-transition: all 5s linear;
  -moz-transition: all 5s linear;
  transition-delay: 5s;
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  background-color: #fff;
}
.slideIn .cover i {
  width: 25px;
  height: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  transition-delay: 300ms;
  background: url(../images/angle-arrow.png) no-repeat;
}
.slideIn:hover .cover {
  transform: scale(1);
}
.slideIn:hover h3 {
  top: 50%;
  opacity: 1;
}
.slideIn:hover h3:after {
  width: 100%;
}
.slideIn:hover i {
  top: 15%;
  left: 85%;
}

.slick-arrow {
  border: 0;
  z-index: 2;
  text-indent: -5000px;
  width: 137px;
  height: 100%;
  position: absolute;
  left: auto;
  top: 0;
}
.slick-arrow:focus {
  outline: 0;
}

.slick-prev {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#b3000000", endColorstr="#00000000",GradientType=1 );
}
.slick-prev::after {
  margin-top: -12px;
  content: "";
  width: 45px;
  height: 25px;
  position: absolute;
  left: 20px;
  top: 50%;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  background: url(../images/prev.png) no-repeat;
}

.slick-next {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#b3000000", endColorstr="#00000000",GradientType=1 );
}
.slick-next::after {
  margin-top: -12px;
  content: "";
  width: 45px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 50%;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  background: url(../images/next.png) no-repeat;
}

.menu-social {
  width: 125px;
  height: 530px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
}
.menu-social .site-social {
  width: 50px;
  margin: 0 auto;
  padding: 190px 0 65px;
}
.menu-social .site-social a {
  margin: 6px 0;
  color: #707070;
  font-size: 22px;
  line-height: 30px;
  display: block;
}
.menu-social .site-social a:hover {
  color: #eca633;
}
.menu-social span {
  font-size: 20px;
  line-height: 24px;
  transform: rotate(-90deg);
}

.home {
  background-color: #ebecf0;
}

.home-block {
  max-width: 1512px;
  padding: 0;
  margin: 0 auto;
}

.chart {
  width: 712px;
  height: 712px;
  padding: 0;
  margin: 0 0 80px;
  overflow: hidden;
  position: relative;
}

.chart-bg {
  width: 96%;
  height: 96%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f8f8;
  box-shadow: 0px 0 18px -6px #0000003b;
}

.chart-first-line {
  width: 88%;
  height: 88%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 1px dashed #002e5b;
  -webkit-animation: spin-line 300s linear infinite;
  animation: spin-line 300s linear infinite;
}

@-webkit-keyframes spin-line {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spin-line {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
.chart-second-line {
  width: 33%;
  height: 33%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 1px dashed #eca633;
  -webkit-animation: spin-line-2 20s linear infinite;
  animation: spin-line-2 20s linear infinite;
}

@-webkit-keyframes spin-line-2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin-line-2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.chartIn {
  width: 100%;
  height: 100%;
  transform: scale(1.25);
  -moz-transform: scale(1.25);
}

.chart svg {
  width: 100%;
  height: 100%;
  -webkit-animation: spin 60s linear infinite;
  animation: spin 60s linear infinite;
  transform: rotate(0deg) scale(1.25);
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg) scale(1.25);
  }
  100% {
    transform: rotate(360deg) scale(1.25);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.chartIn svg:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.circle-shadow {
  width: 30%;
  height: 30%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  -webkit-animation: shadow-pulse 2s infinite;
          animation: shadow-pulse 2s infinite;
  box-shadow: 0 0 0 0px rgba(236, 166, 51, 0.5);
}

@-webkit-keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(236, 166, 51, 0.5);
  }
  100% {
    box-shadow: 0 0 0 200px rgba(236, 166, 51, 0);
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(236, 166, 51, 0.5);
  }
  100% {
    box-shadow: 0 0 0 200px rgba(236, 166, 51, 0);
  }
}
.established {
  padding: 0;
  margin: auto;
  text-align: center;
}
.established small {
  display: block;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
}
.established strong {
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
}

.home-left {
  width: 40%;
}
.home-left h2 {
  padding: 0 0 13px;
  color: #3f3f3f;
  font-size: 100px;
  line-height: 110px;
  font-weight: 800;
}
.home-left p {
  font-size: 20px;
  line-height: 32px;
}

.home-btn {
  padding-top: 80px;
}

.home-btn .site-btn {
  height: 60px;
  padding: 16px 88px 12px 48px;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  display: inline-block;
  position: relative;
  background-color: #eca633;
  border-radius: 30px;
  transition: all 400ms;
}
.home-btn .site-btn.with-arrow {
  padding: 16px 76px 12px 30px;
}
.home-btn .site-btn.with-arrow:after {
  content: "";
  width: 29px;
  height: 19px;
  position: absolute;
  right: 30px;
  top: 22px;
  background: url(../images/long-right-arrow.png) no-repeat;
}
.home-btn .site-btn:hover {
  color: #fff;
  background-color: #d6961d;
}
.home-btn .site-btn i {
  width: 29px;
  height: 19px;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 48px;
  top: 22px;
  background: url("../images/long-right-arrow.png") no-repeat;
}

.index-right {
  height: 100%;
  position: absolute;
  right: 48px;
  top: 0;
  display: flex;
}
.index-right div {
  margin: auto;
}
.index-right div a {
  margin: 6px 0;
  display: block;
  color: #717171;
  font-size: 22px;
  line-height: 30px;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
}
.index-right div a:hover {
  color: #eca633;
}

.scroll-down {
  width: 116px;
  color: #717171;
  position: absolute;
  left: -46px;
  bottom: 220px;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  transform: rotate(90deg);
}
.scroll-down i {
  width: 37px;
  height: 11px;
  position: absolute;
  left: 83px;
  top: 5px;
  transition: all 400ms;
  background: url("../images/long-down-arrow.png") no-repeat;
}
.scroll-down:hover {
  color: #eca633;
}
.scroll-down:hover i {
  left: 90px;
}

/*-----------------------------*/
/*----------- Footer ----------*/
/*-----------------------------*/
.home-footer {
  width: 100%;
  padding: 50px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #dedede;
}
.home-footer .bullet a {
  width: 17px;
  height: 17px;
  display: inline-block;
  border: 5px solid #fff;
  border-radius: 50%;
  background-color: #b8b8b8;
  position: relative;
}
.home-footer .bullet i {
  width: 20px;
  height: 1px;
  margin: 0 2px;
  display: inline-block;
  background-color: #b8b8b8;
}
.home-footer .home-ftr-right span {
  color: #3f3f3f;
  font-size: 20px;
  line-height: 26px;
}

.career-search {
  padding: 0 0 114px;
  margin: 0;
}
.career-search .career-search-box {
  width: 1010px;
}
.career-search .career-search-box input {
  width: 100%;
  padding: 16px 70px 12px 22px;
  color: #949494;
  font-size: 17px;
  line-height: 22px;
  font-weight: 300;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 6px 1px #e0dede;
  -webkit-box-shadow: 0 1px 6px 1px #e0dede;
  -moz-box-shadow: 0 1px 6px 1px #e0dede;
  border: 1px solid #e0dede;
  font-family: "Muli", sans-serif;
}
.career-search .career-search-box input:focus {
  outline: none;
}
.career-search .career-search-box button {
  cursor: pointer;
  color: #e0e0e0;
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 10px;
  border: 0;
  background-color: transparent;
}
.career-search .career-search-box button i {
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
}
.career-search .career-search-box button:hover i {
  color: #eca633;
}

.career-position {
  padding-bottom: 28px;
}
.career-position a {
  height: 145px;
  padding: 54px 10px 0;
  margin: 0 0 63px;
  display: block;
  text-align: center;
  position: relative;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  box-shadow: 0 1px 6px 1px #e0dede;
  -webkit-box-shadow: 0 1px 6px 1px #e0dede;
  -moz-box-shadow: 0 1px 6px 1px #e0dede;
}
.career-position a .career-position-icon {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: -32px;
  background-color: #fff;
  transform: translateX(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 0 3px 6px 1px #e0dede;
  -webkit-box-shadow: 0 3px 6px 1px #e0dede;
  -moz-box-shadow: 0 3px 6px 1px #e0dede;
}
.career-position a .career-position-icon i {
  color: #a3a2a2;
  font-size: 40px;
}
.career-position a h4 {
  padding: 0 0 9px;
  color: #3f3f3f;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}
.career-position a span {
  color: #717171;
  font-size: 16px;
  line-height: 20px;
  display: block;
}
.career-position a:hover {
  border-color: #eca633;
}

.career-register {
  padding: 70px 0 0;
  background-color: #f7f7f7;
}
.career-register .career-register-left h2 {
  padding: 0 0 22px;
  color: #3f3f3f;
  font-size: 50px;
  line-height: 70px;
  font-weight: 700;
}
.career-register .career-register-left p {
  padding: 0 0 28px;
  font-size: 18px;
  line-height: 30px;
}

.career-why-join {
  padding: 84px 0 0;
}
.career-why-join h2 {
  padding: 0 0 35px;
  color: #3f3f3f;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}
.career-why-join .career-why-box {
  padding-bottom: 42px;
}
.career-why-join .career-why-box .career-why-left {
  width: 32%;
}
.career-why-join .career-why-box .career-why-left h3 {
  color: #3f3f3f;
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  position: relative;
}
.career-why-join .career-why-box .career-why-left h3:after {
  content: "";
  width: 123px;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: -7px;
  background-color: #ecedf1;
}
.career-why-join .career-why-box .career-why-right {
  width: 68%;
}
.career-why-join .career-why-box .career-why-right p {
  color: #717171;
  font-size: 17px;
  line-height: 28px;
}
.career-why-join .career-why-box .career-why-right p:not(:last-child) {
  padding-bottom: 27px;
}

.career-details {
  padding: 0 0 82px;
}
.career-details .site-shadow {
  padding-bottom: 93px;
  border-radius: 18px;
}
.career-details .site-shadow .career-details-box {
  padding: 87px 89px 0 140px;
}
.career-details .site-shadow .career-details-box h2 {
  padding: 0 0 29px;
  color: #3f3f3f;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  position: relative;
}
.career-details .site-shadow .career-details-box h2 i {
  position: absolute;
  left: -55px;
  top: 5px;
}
.career-details .site-shadow .career-details-box h3 {
  padding: 0 0 18px;
  color: #3f3f3f;
  font-size: 21px;
  line-height: 28px;
  font-weight: 700;
}
.career-details .site-shadow .career-details-box h4 {
  padding: 0 0 19px;
  color: #eca633;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.career-details .site-shadow .career-details-box .career-details-in {
  padding-bottom: 40px;
}
.career-details .site-shadow .career-details-box .career-details-in p {
  font-size: 17px;
  line-height: 28px;
}
.career-details .site-shadow .career-details-box .career-details-in li {
  padding-left: 36px;
  font-size: 17px;
  line-height: 24px;
  position: relative;
}
.career-details .site-shadow .career-details-box .career-details-in li:not(:last-child) {
  padding-bottom: 19px;
}
.career-details .site-shadow .career-details-box .career-details-in li:after {
  content: "";
  width: 17px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 5px;
  background: url("../images/cursor.png") no-repeat;
}

.career-details-apply {
  padding-top: 40px;
}
.career-details-apply span {
  padding: 0 0 23px;
  font-size: 21px;
  line-height: 28px;
}
.career-details-apply .career-details-btn {
  padding: 0 0 90px;
}
.career-details-apply .career-details-btn .site-btn {
  width: 236px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 12px;
}

.career-details-btm {
  padding: 11px 89px 11px 140px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.career-details-btm span {
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
}

.companies {
  width: 1110px;
  padding: 90px 0 82px;
  margin: 0 auto;
}
.companies .menu-close {
  position: absolute;
  right: 70px;
  top: 70px;
}

.companies-logo {
  padding-bottom: 70px;
}

.companies-desc {
  max-width: 830px;
  padding-bottom: 85px;
  margin: 0 auto;
}
.companies-desc p {
  padding-bottom: 28px;
  font-size: 17px;
  line-height: 28px;
}

.companies-project-wrap {
  padding-bottom: 90px;
}

.companies-project {
  position: relative;
}

.companies-project::after,
.companies-project::before {
  content: "";
  clear: both;
  display: table;
}

.companies-project-img {
  width: 58.2%;
  overflow: hidden;
  box-shadow: 0 1px 6px 1px #e0dede;
  -webkit-box-shadow: 0 1px 6px 1px #e0dede;
  -moz-box-shadow: 0 1px 6px 1px #e0dede;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
}
.companies-project-img img {
  width: 100%;
}

.companies-project-info {
  padding: 30px 35px 35px 40px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  transform: translateY(-50%);
  background-color: #fff;
  width: 55.4%;
  position: absolute;
  right: 0;
  top: 50%;
  box-shadow: 0 1px 5px 1px #ccc9c9;
  -webkit-box-shadow: 0 1px 5px 1px #ccc9c9;
  -moz-box-shadow: 0 1px 5px 1px #ccc9c9;
}
.companies-project-info h3 {
  padding-bottom: 11px;
  margin-bottom: 12px;
  position: relative;
  color: #3f3f3f;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
}
.companies-project-info h3:after {
  content: "";
  width: 245px;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  background-color: #e0dede;
}
.companies-project-info p {
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 28px;
}
.companies-project-info a {
  position: relative;
  color: #eca633;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
}
.companies-project-info a:hover {
  color: #c17e12;
}
.companies-project-info a::after {
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  background-color: #eca633;
}
.companies-project-info a:hover::after {
  left: 100%;
  opacity: 0;
}

.companies-project-box .companies-project-wrap:nth-child(2n) .companies-project-img {
  float: right;
}

.companies-project-box .companies-project-wrap:nth-child(2n) .companies-project-info {
  right: auto;
  left: 0;
}

.companies-btm {
  padding: 0;
}
.companies-btm a {
  position: relative;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  color: #717171;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.companies-btm a i {
  font-size: 30px;
  transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  position: absolute;
  left: -35px;
  bottom: -2px;
}
.companies-btm a:hover {
  color: #eca633;
}
.companies-btm a:hover i {
  left: -50px;
  color: #eca633;
}
.companies-btm a:last-child:hover i {
  right: -50px;
}
.companies-btm a:last-child i {
  left: auto;
  right: -35px;
}

.publication-left {
  width: calc(100% - 412px);
}

.publication-right {
  width: 350px;
}

.site-shadow {
  margin-bottom: 62px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.publication-img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  box-shadow: 0 4px 9px 1px #e0dede;
  -webkit-box-shadow: 0 4px 9px 1px #e0dede;
  -moz-box-shadow: 0 4px 9px 1px #e0dede;
}
.publication-img img {
  width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.publication-date {
  background-color: #eca633;
  width: 125px;
  height: 112px;
  position: absolute;
  right: 133px;
  top: 0;
}
.publication-date span {
  text-align: center;
  display: block;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.publication-content {
  padding: 56px 60px 48px;
}
.publication-content span {
  font-size: 15px;
  line-height: 22px;
}
.publication-content small {
  font-weight: 300;
}
.publication-content b {
  font-weight: 700;
}
.publication-content h3 {
  padding: 0 0 12px;
  color: #3f3f3f;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
}
.publication-content p {
  font-size: 17px;
  line-height: 28px;
}

.publication-btn {
  padding: 32px 0 0;
}

.Pagination-wrapper {
  padding: 20px 0 80px;
}

.paginationIn {
  padding-right: 140px;
}
.paginationIn a {
  width: 36px;
  height: 36px;
  margin: 0 6px;
  display: flex;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  color: #717171;
  font-size: 17px;
  line-height: 17px;
  border: 1px solid #d7d7d7;
}
.paginationIn a.active, .paginationIn a:hover {
  font-weight: 700;
  color: #fff;
  background-color: #eca633;
  border: 1px solid #eca633;
}
.paginationIn span {
  margin: auto;
}
.paginationIn i {
  margin: auto;
  font-size: 22px;
}

.publication-widget {
  padding: 15px 30px;
  margin-bottom: 35px;
  box-shadow: 0 1px 6px 1px #e0dede;
  -webkit-box-shadow: 0 1px 6px 1px #e0dede;
  -moz-box-shadow: 0 1px 6px 1px #e0dede;
}
.publication-widget h2 {
  position: relative;
  color: #3f3f3f;
  font-size: 28px;
  line-height: 50px;
  font-weight: 700;
}
.publication-widget h2:before {
  content: "";
  width: 60px;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  background-color: #c5c5c5;
}
.publication-widget ul {
  padding-top: 22px;
}
.publication-widget ul li {
  padding: 9px 0 9px 22px;
  position: relative;
  border-bottom: 1px solid #ececec;
}
.publication-widget ul li a {
  display: block;
  color: #717171;
  font-size: 20px;
  line-height: 28px;
}
.publication-widget ul li a i {
  position: absolute;
  left: 0;
  top: 11px;
}
.publication-widget ul li a:hover {
  color: #eca633;
}
.publication-widget ul li span {
  padding-top: 3px;
  display: block;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  color: #c5c5c5;
}
.publication-widget ul li:last-child {
  border: 0;
}
.publication-widget.archive ul li a {
  font-size: 17px;
  line-height: 28px;
  font-weight: 500;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }

  .companies-modal {
    max-width: 88vw;
  }

  .publication-container {
    max-width: 1392px;
  }
}